/* Import the Poppins font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* Apply the Poppins font to body text */
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400; /* Normal weight */
}

#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
}
